/* Base styles 基礎樣式 */
@theme {
    --color-soft-blue: hsl(231, 69%, 60%);
    --color-soft-red: hsl(0, 94%, 66%);
    --color-white-gray: hsl(0, 0%, 97%);
    --color-very-dark-blue: hsl(229, 31%, 21%);
    --font-family-rubik: 'Rubik', sans-serif;
}

@layer base {
  body{
    @apply grid flex-col items-center justify-center overflow-x-hidden;
    }

  .main{
      @apply container w-lvw flex flex-col mx-auto items-center justify-center;
  }

  /* 次標題樣式*/
  h2{
    @apply text-very-dark-blue text-[clamp(2rem,1rem+3vw,2.5rem)] font-medium;
  }

  /* 內文樣式 */
  p{
    @apply px-10 text-center text-very-dark-blue/50   lg:px-0;
  }
}
